--
-- PostgreSQL database dump
--

\restrict Eg8uMoV53EMDMNUo1SQcaXXKupFbdOrUCgJesr55XIAey2arBzfAFJ9iyJXbAEY

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO ortrta_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO ortrta_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO ortrta_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO ortrta_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO ortrta_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO ortrta_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_rest_passwordreset_resetpasswordtoken; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.django_rest_passwordreset_resetpasswordtoken (
    created_at timestamp with time zone NOT NULL,
    key character varying(64) NOT NULL,
    ip_address inet,
    user_agent character varying(512) NOT NULL,
    user_id bigint NOT NULL,
    id integer NOT NULL
);


ALTER TABLE public.django_rest_passwordreset_resetpasswordtoken OWNER TO ortrta_user;

--
-- Name: django_rest_passwordreset_resetpasswordtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.django_rest_passwordreset_resetpasswordtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_rest_passwordreset_resetpasswordtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO ortrta_user;

--
-- Name: equipment_camera; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.equipment_camera (
    id bigint NOT NULL,
    model character varying(100) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    has_fixed_lens boolean NOT NULL,
    fixed_lens_model character varying(100) NOT NULL,
    mount_id bigint,
    is_deleted boolean NOT NULL
);


ALTER TABLE public.equipment_camera OWNER TO ortrta_user;

--
-- Name: equipment_camera_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.equipment_camera ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.equipment_camera_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: equipment_lens; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.equipment_lens (
    id bigint NOT NULL,
    model character varying(100) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    mount_id bigint
);


ALTER TABLE public.equipment_lens OWNER TO ortrta_user;

--
-- Name: equipment_lens_cameras; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.equipment_lens_cameras (
    id bigint NOT NULL,
    lens_id bigint NOT NULL,
    camera_id bigint NOT NULL
);


ALTER TABLE public.equipment_lens_cameras OWNER TO ortrta_user;

--
-- Name: equipment_lens_cameras_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.equipment_lens_cameras ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.equipment_lens_cameras_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: equipment_lens_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.equipment_lens ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.equipment_lens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: equipment_mount; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.equipment_mount (
    id bigint NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.equipment_mount OWNER TO ortrta_user;

--
-- Name: equipment_mount_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.equipment_mount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.equipment_mount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rolls_roll; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.rolls_roll (
    id bigint NOT NULL,
    film_name character varying(100) NOT NULL,
    iso integer NOT NULL,
    format character varying(20) NOT NULL,
    description text NOT NULL,
    date_start date NOT NULL,
    date_end date,
    date_development date,
    date_scan date,
    status character varying(20) NOT NULL,
    slug character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    camera_id bigint NOT NULL,
    lens_id bigint,
    user_id bigint NOT NULL,
    film_type character varying(20) NOT NULL
);


ALTER TABLE public.rolls_roll OWNER TO ortrta_user;

--
-- Name: rolls_roll_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.rolls_roll ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rolls_roll_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rolls_urlphoto; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.rolls_urlphoto (
    id bigint NOT NULL,
    url character varying(200) NOT NULL,
    provider character varying(20) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    roll_id bigint NOT NULL
);


ALTER TABLE public.rolls_urlphoto OWNER TO ortrta_user;

--
-- Name: rolls_urlphoto_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.rolls_urlphoto ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rolls_urlphoto_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.users_user OWNER TO ortrta_user;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO ortrta_user;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: ortrta_user
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO ortrta_user;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: ortrta_user
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_rest_passwordreset_resetpasswordtoken django_rest_passwordreset_resetpasswordtoken_key_f1b65873_uniq; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.django_rest_passwordreset_resetpasswordtoken
    ADD CONSTRAINT django_rest_passwordreset_resetpasswordtoken_key_f1b65873_uniq UNIQUE (key);


--
-- Name: django_rest_passwordreset_resetpasswordtoken django_rest_passwordreset_resetpasswordtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.django_rest_passwordreset_resetpasswordtoken
    ADD CONSTRAINT django_rest_passwordreset_resetpasswordtoken_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: equipment_camera equipment_camera_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.equipment_camera
    ADD CONSTRAINT equipment_camera_pkey PRIMARY KEY (id);


--
-- Name: equipment_lens_cameras equipment_lens_cameras_lens_id_camera_id_c8ac3bc5_uniq; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.equipment_lens_cameras
    ADD CONSTRAINT equipment_lens_cameras_lens_id_camera_id_c8ac3bc5_uniq UNIQUE (lens_id, camera_id);


--
-- Name: equipment_lens_cameras equipment_lens_cameras_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.equipment_lens_cameras
    ADD CONSTRAINT equipment_lens_cameras_pkey PRIMARY KEY (id);


--
-- Name: equipment_lens equipment_lens_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.equipment_lens
    ADD CONSTRAINT equipment_lens_pkey PRIMARY KEY (id);


--
-- Name: equipment_mount equipment_mount_name_key; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.equipment_mount
    ADD CONSTRAINT equipment_mount_name_key UNIQUE (name);


--
-- Name: equipment_mount equipment_mount_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.equipment_mount
    ADD CONSTRAINT equipment_mount_pkey PRIMARY KEY (id);


--
-- Name: rolls_roll rolls_roll_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.rolls_roll
    ADD CONSTRAINT rolls_roll_pkey PRIMARY KEY (id);


--
-- Name: rolls_roll rolls_roll_slug_key; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.rolls_roll
    ADD CONSTRAINT rolls_roll_slug_key UNIQUE (slug);


--
-- Name: rolls_urlphoto rolls_urlphoto_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.rolls_urlphoto
    ADD CONSTRAINT rolls_urlphoto_pkey PRIMARY KEY (id);


--
-- Name: users_user users_user_email_243f6e77_uniq; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_email_243f6e77_uniq UNIQUE (email);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_user users_user_username_key; Type: CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_rest_passwordreset_resetpasswordtoken_key_f1b65873_like; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX django_rest_passwordreset_resetpasswordtoken_key_f1b65873_like ON public.django_rest_passwordreset_resetpasswordtoken USING btree (key varchar_pattern_ops);


--
-- Name: django_rest_passwordreset_resetpasswordtoken_user_id_e8015b11; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX django_rest_passwordreset_resetpasswordtoken_user_id_e8015b11 ON public.django_rest_passwordreset_resetpasswordtoken USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: equipment_camera_mount_id_d0afe0c6; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX equipment_camera_mount_id_d0afe0c6 ON public.equipment_camera USING btree (mount_id);


--
-- Name: equipment_camera_user_id_4e572e74; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX equipment_camera_user_id_4e572e74 ON public.equipment_camera USING btree (user_id);


--
-- Name: equipment_lens_cameras_camera_id_426cd29e; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX equipment_lens_cameras_camera_id_426cd29e ON public.equipment_lens_cameras USING btree (camera_id);


--
-- Name: equipment_lens_cameras_lens_id_27d99ea2; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX equipment_lens_cameras_lens_id_27d99ea2 ON public.equipment_lens_cameras USING btree (lens_id);


--
-- Name: equipment_lens_mount_id_1ff0e05f; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX equipment_lens_mount_id_1ff0e05f ON public.equipment_lens USING btree (mount_id);


--
-- Name: equipment_lens_user_id_ee5bd9cf; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX equipment_lens_user_id_ee5bd9cf ON public.equipment_lens USING btree (user_id);


--
-- Name: equipment_mount_name_c6807be3_like; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX equipment_mount_name_c6807be3_like ON public.equipment_mount USING btree (name varchar_pattern_ops);


--
-- Name: rolls_roll_camera_id_500300c1; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX rolls_roll_camera_id_500300c1 ON public.rolls_roll USING btree (camera_id);


--
-- Name: rolls_roll_date_st_348e10_idx; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX rolls_roll_date_st_348e10_idx ON public.rolls_roll USING btree (date_start);


--
-- Name: rolls_roll_lens_id_64e95962; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX rolls_roll_lens_id_64e95962 ON public.rolls_roll USING btree (lens_id);


--
-- Name: rolls_roll_slug_03373751_like; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX rolls_roll_slug_03373751_like ON public.rolls_roll USING btree (slug varchar_pattern_ops);


--
-- Name: rolls_roll_status_1ec112_idx; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX rolls_roll_status_1ec112_idx ON public.rolls_roll USING btree (status);


--
-- Name: rolls_roll_user_id_31701ed5; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX rolls_roll_user_id_31701ed5 ON public.rolls_roll USING btree (user_id);


--
-- Name: rolls_roll_user_id_5802d7_idx; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX rolls_roll_user_id_5802d7_idx ON public.rolls_roll USING btree (user_id);


--
-- Name: rolls_urlphoto_roll_id_4e9d52e6; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX rolls_urlphoto_roll_id_4e9d52e6 ON public.rolls_urlphoto USING btree (roll_id);


--
-- Name: users_user_email_243f6e77_like; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX users_user_email_243f6e77_like ON public.users_user USING btree (email varchar_pattern_ops);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: users_user_username_06e46fe6_like; Type: INDEX; Schema: public; Owner: ortrta_user
--

CREATE INDEX users_user_username_06e46fe6_like ON public.users_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_rest_passwordreset_resetpasswordtoken django_rest_password_user_id_e8015b11_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.django_rest_passwordreset_resetpasswordtoken
    ADD CONSTRAINT django_rest_password_user_id_e8015b11_fk_users_use FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: equipment_camera equipment_camera_mount_id_d0afe0c6_fk_equipment_mount_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.equipment_camera
    ADD CONSTRAINT equipment_camera_mount_id_d0afe0c6_fk_equipment_mount_id FOREIGN KEY (mount_id) REFERENCES public.equipment_mount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: equipment_camera equipment_camera_user_id_4e572e74_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.equipment_camera
    ADD CONSTRAINT equipment_camera_user_id_4e572e74_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: equipment_lens_cameras equipment_lens_camer_camera_id_426cd29e_fk_equipment; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.equipment_lens_cameras
    ADD CONSTRAINT equipment_lens_camer_camera_id_426cd29e_fk_equipment FOREIGN KEY (camera_id) REFERENCES public.equipment_camera(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: equipment_lens_cameras equipment_lens_cameras_lens_id_27d99ea2_fk_equipment_lens_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.equipment_lens_cameras
    ADD CONSTRAINT equipment_lens_cameras_lens_id_27d99ea2_fk_equipment_lens_id FOREIGN KEY (lens_id) REFERENCES public.equipment_lens(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: equipment_lens equipment_lens_mount_id_1ff0e05f_fk_equipment_mount_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.equipment_lens
    ADD CONSTRAINT equipment_lens_mount_id_1ff0e05f_fk_equipment_mount_id FOREIGN KEY (mount_id) REFERENCES public.equipment_mount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: equipment_lens equipment_lens_user_id_ee5bd9cf_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.equipment_lens
    ADD CONSTRAINT equipment_lens_user_id_ee5bd9cf_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rolls_roll rolls_roll_camera_id_500300c1_fk_equipment_camera_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.rolls_roll
    ADD CONSTRAINT rolls_roll_camera_id_500300c1_fk_equipment_camera_id FOREIGN KEY (camera_id) REFERENCES public.equipment_camera(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rolls_roll rolls_roll_lens_id_64e95962_fk_equipment_lens_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.rolls_roll
    ADD CONSTRAINT rolls_roll_lens_id_64e95962_fk_equipment_lens_id FOREIGN KEY (lens_id) REFERENCES public.equipment_lens(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rolls_roll rolls_roll_user_id_31701ed5_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.rolls_roll
    ADD CONSTRAINT rolls_roll_user_id_31701ed5_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: rolls_urlphoto rolls_urlphoto_roll_id_4e9d52e6_fk_rolls_roll_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.rolls_urlphoto
    ADD CONSTRAINT rolls_urlphoto_roll_id_4e9d52e6_fk_rolls_roll_id FOREIGN KEY (roll_id) REFERENCES public.rolls_roll(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ortrta_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict Eg8uMoV53EMDMNUo1SQcaXXKupFbdOrUCgJesr55XIAey2arBzfAFJ9iyJXbAEY

